@font-face {
    font-family: FuturaBookOblique;
    src: url(fonts/FuturaStd-BookOblique.otf);
}
@font-face {
    font-family: FuturaBook;
    src: url(fonts/FuturaStd-Book.otf);
}
@font-face {
    font-family: FuturaBold;
    src: url(fonts/FuturaStd-Bold.otf);
}
@font-face {
    font-family: FuturaExtraBold;
    src: url(fonts/FuturaStd-ExtraBold.otf);
}

@font-face {
    font-family: FuturaMedium;
    src: url(fonts/FuturaStd-Medium.otf);
}
@font-face {
    font-family: FuturaHeavy;
    src: url(fonts/FuturaStd-Heavy.otf);
}
@font-face {
    font-family: GothamBold;
    src: url(fonts/Gotham-Bold.otf);
}

/* Général
*****************************************************/
body{
	background-color:#f6f6f6;
	width:100%;
}
.wrap{
	margin:0 auto;
	width:960px;
}


/* Header
*****************************************************/
header{
	background-color: #f6f6f6;
	border-bottom:1px solid #fff ;
	color:#b3b1b1;
	font-family:FuturaBookOblique;
	padding:10px 0 10px 0;
	text-align: center;
}

.top{
	background:url("img/bgTop.png") no-repeat;
	background-position: center;
	border-bottom:1px solid #e6e6e6 ;
	border-top:1px solid #e6e6e6 ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 476px;
}

#logo{
	color:#fff;
	padding-top:50px;
	text-align: center;
	text-shadow: #000 0.1em 0.1em 0.2em;
}
 
h1{
	font-family:GothamBold;
	font-size:66px;
}

strong{
	font-family:FuturaHeavy;
}



/* Container
*****************************************************/
.container{
	border-top:1px solid #fff;
	font-family:FuturaBook;
	font-size: 30px;
	height: 100%;
	margin:0 auto;
	margin-bottom: 80px;
	padding-top: 70px;
	width:960px;
}
.container p{
	margin-bottom:50px;
	font-size:20px;
	text-align: center;
}

hr{
	border:1px solid #fff;
	box-shadow:0px -1px #e6e6e6;
	margin-bottom: 60px;
	width: 700px;
}

.container ul li{
	font-size: 25px;
	height: 70px;
	padding: 50px 0 0 150px;
}
.container ul li strong{
	color:#eaa33d;
}
.container ul li span{
	font-family:FuturaExtraBold;
}
.event{
	background:url(img/event.png) no-repeat 0 0;
}
.weather{
	background:url(img/weather.png) no-repeat 0 0;
}
.context{
	background:url(img/context.png) no-repeat 0 0;
}

.detail{
	font-size:17px;
	line-height: 25px;
	margin-top:80px;
	margin-bottom:80px;
}

.detail span{
	color:#eaa33d;
	font-family:FuturaBookOblique;
}

.button{
	background-color:#64bff8;
	border-top:1px solid #59aadd;
	height:129px;
	margin:auto ;
	width:570px;
}
.button div{

	background:url('img/button.png') no-repeat 15px 19px;
}
.button a{
	color: #fff;
	display: block;
	font-family: FuturaBold;
	font-size: 35px;
	height: 81px;
	text-decoration: none;
	width: 411px;
	padding: 48px 0 0 159px;
}




/* Footer
************************************************/
footer{
	background-color:#2c2c2c;
	border-top:1px solid #535353;
	color:#dfdfdf;
	font-size:15px;
	height:50px;
	padding-top:30px;
	text-align:center;
}
footer .footer_wrapper{
	margin:auto;
	width:960px;
}

footer .footer_wrapper span:first-child{
	float:left;
}

footer .footer_wrapper span:nth-child(2){
	font-family:FuturaBookOblique;
}

footer .footer_wrapper span:nth-child(3){
	float:right;
}






/* RADAR CHART
************************************************/

nav{
	height: 87px;
	width: 100%;
	background-color: #363636;
}

nav li{
	color:white;
	display: inline-block;
	margin-left:40px;
	text-transform: uppercase;
	font-family: FuturaBook;
	font-size: 30px;
}

nav ul{
		float: right;

}


nav li a{
	color:white;
	display: inline-block;
	text-transform: uppercase;
	font-family: FuturaBook;
	font-size: 30px;
	text-decoration: none;
	padding-top:31px;
	height: 49px;
	

}

nav li a:hover, .selected{
	border-bottom: 7px solid #eaa33d;
}

#logomini{
	background-image:url(img/logo.png);
	background-size: 76px 49px;
	background-repeat: no-repeat;
	background-position: 0 13px;
	color: #fff;
	display: inline-block;
	float: left;
	font-family: GothamBold;
	font-size: 30px;
	height:49px;
	margin-left: 82px;
	padding-left: 80px;
	padding-top:25px;
	width: 300px;
}

#radarh1{
	font-size: 40px;
	font-family: FuturaBook;
	text-align: center;
}

#radarh2{
	color: #585858;
	font-size: 18px;
	font-family: FuturaBook;
	margin-top: 35px;
	text-align: center;
}

.texture{
	background:url('img/texture.png');
	padding-top:60px;
}

#start .texture div:nth-child(2){
	height: 575px;
	text-align: center;
}	
#centre{
	background: url('img/center.png') no-repeat 0 0;
	display: inline-block;
	height: 108px;
	left: 427px;
	position: relative;
	top: -271px;
	width: 108px;
}

.texture ul
{
    list-style-type:none;
    text-align:center;
}
.texture li
{
    display:inline;
	font-family:Garamond;
}
.texture li:not(:last-child):after
{
	color:#000;
    content:' | ';
}

.texture ul li a{
	color: #000;
	text-decoration: none
}

.premier{
	color:rgba(163,61,61,1);
}
.deux{
	color:rgba(234,163,61,1);
}

.anneeget{
	cursor: pointer;
}

canvas{
	margin-top: 49px;
	margin-right: 97px;
}

.wrap ul:nth-child(4){
	padding-bottom:100px;
}


/* METEO
************************************************/
#ensoleillement{
	margin-top: 77px;
	margin-left: 87px;
	margin-bottom: 60px;
}
#ensoleillement h2{
	float: left;
	font-family: FuturaBook;
	font-size: 24px;
	padding-bottom: 175px;
	text-transform:uppercase;
	-webkit-transform:  rotate(-90deg);/* Agrandissement de la photo à l'échelle 1.4 et rotation de -10 degrés */
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#meteo .texture li:not(:last-child):after
{	content: "";
}

#ensoleillement ul, #pluie ul{
	display: inline;
	width: 803px;
}
#ensoleillement li:first-child, #pluie li:first-child {
	border-left: 1px solid #000;
}
#ensoleillement li {
	border-right: 1px solid #000;
	background-color:#ffd97d;
	display: inline-block;
	font-family: FuturaMedium;
	margin-left: -4px;
	height: 300px;
	text-align: center;
	width: 36px;

}
#ensoleillement li div.barre{
	background:url('img/texture.png');
	height: 100px;
}
#ensoleillement li div.pushbottom{
	padding-top: 265px;
}
#ensoleillement li div.region{
	display: block;
	height: 35px;
	line-height: 32px;
	-webkit-transform:  rotate(-90deg);/* Agrandissement de la photo à l'échelle 1.4 et rotation de -10 degrés */
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
	
}
#frise{
	background:url('img/frise.png') no-repeat 0 0;
	height: 38px;
	margin-left: 46px;
	margin-bottom:60px;
	width: 898px
}

#pluie{
	margin-left:87px;
}
#pluie ul{

}
#pluie li {
	border-right: 1px solid #000;
	background:url("img/texture.png");
	display: inline-block;
	font-family: FuturaMedium;
	margin-left: -4px;
	height: 300px;
	text-align: center;
	width: 36px;

}

#pluie li div.region{
	display: block;
	height: 35px;
	line-height: 32px;
	-webkit-transform:  rotate(-90deg);/* Agrandissement de la photo à l'échelle 1.4 et rotation de -10 degrés */
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
	
}

#pluie li div.barre{
	background-color:#b6dcf3;
	height: 100px;
}
